<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BankApplication</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddRecord</servlet-name>
    <servlet-class>getac005.AddRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecord</servlet-name>
    <url-pattern>/AddRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountsBalance</servlet-name>
    <servlet-class>getac005.AccountsBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsBalance</servlet-name>
    <url-pattern>/AccountsBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WithdrawMoney</servlet-name>
    <servlet-class>getac005.WithdrawMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawMoney</servlet-name>
    <url-pattern>/WithdrawMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUpdate</servlet-name>
    <servlet-class>getac005.ShowUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdate</servlet-name>
    <url-pattern>/ShowUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>getac005.CloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/CloseAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepositMoney</servlet-name>
    <servlet-class>getac005.DepositMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositMoney</servlet-name>
    <url-pattern>/DepositMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenAccount</servlet-name>
    <servlet-class>getac005.OpenAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccount</servlet-name>
    <url-pattern>/OpenAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransferMoney</servlet-name>
    <servlet-class>getac005.TransferMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferMoney</servlet-name>
    <url-pattern>/TransferMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewHistory</servlet-name>
    <servlet-class>getac005.ViewHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHistory</servlet-name>
    <url-pattern>/ViewHistory</url-pattern>
  </servlet-mapping>
</web-app>